<div class="maincontent">
    <article class="article">
        <h1 class="article-title">Who are we?</h1>
        <p>The Roux Academy gets thousands of submissions every year for artists interesting in participating in the CAC exhibits, and selects approximately 200 distinct pieces of contemporary art for display in their collective exhibit. In addition, 12
            individuals are honored as Featured Artists - each being granted his or her own exhibit hall to display entire collections or themed pieces.</p>
        <p>Each Featured Artist has an opportunity to speak at one of our meetups and share his or her vision, perspective, and techniques with attendees on a more personal level than at our large conference. It is truly an honor to be a CAC Featured Artist
            and many past students artists who were featured at CAC have gone on to brilliant careers in art.</p>
    </article>
    <!-- article -->

    <article class="article">
        <h1 class="article-title">Get Busy!</h1>
        <p>If you want to keep up with what's going on with the group, <a href="http://www.meetup.com/rouxmeet">join our meetup group</a>, <a href="http://www.twitter.com/rouxmeet">follow us on twitter</a>. If you're in FaceBook, you can also <a href="http://www.facebook.com/rouxmeet">join our FaceBook group</a>.</p>
    </article>
    <!-- article -->

    <article class="article">
        <h1 class="article-title">Who should come?</h1>
        <ul>
            <li>Anybody interested in art and the creative industry</li>
            <li>Painters, sculptors, photographers and graphic artists</li>
            <li>Those interested in meeting and making a connection with others in the local art scene.</li>
        </ul>
    </article>
    <!-- article -->
</div>